.sentimentHolder {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.innerSentimentHolder {
  width: 45%;
  font-size: 1em;
}

.summaryHolder {
  display: flex;
  justify-content: right;
  margin: 5px;
}

.innerSummaryHolder {
  width: 45%;
  font-size: 1em;
}
