.headlineHolder {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: blue;
}

p {
  color: blue;
  font-size: 1em;
}
