.headlineHolder {
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #ED5E3F;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  color: #ED5E3F;
  margin-bottom: 25px;
  margin-top: -10px;
  font-family: 'Source Sans Pro', sans-serif;
}
