.switchHolder {
  display: flex;
  justify-content: center;

}

a {
  margin: 10px;
  text-decoration: none;
  width: 15%;
  border-radius: 5px;
  padding: 7px;
  background: #ED5E3F;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}


a:hover {
  background-color: #D94323;
}
