.sentimentHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #ED5E3F;
}

.sentimentScore {
  margin:25px;
  font-size: 1.2em;
  color: green;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

span {
  color: grey;
  font-size: 1.4em;
}

.sentimentData {
  font-size: 1.4em;
  color: #ED5E3F;
}
