.summaryMain {
  width: 100%;
  margin-top: 10px;
}

.summaryHolder {
  margin: 15px;
  padding-left: 35px;
  padding-right: 35px;
  color: grey;
  display: flex;
  flex-direction: column;
}

li {
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  color: grey;
}
