.BubbleContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  border-bottom: 1px solid #ED5E3F;
  justify-content: center;
}

.frequency {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textHolder {
  display: flex;
  justify-content: center;

}

h3{
  text-align: center;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  text-align: center;
  color: grey;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.conceptHolder {
  padding: 10px;
  font-size: 1em;
  width: 50%;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 1px solid #ED5E3F;
}

.entityHolder {
  padding: 10px;
  font-size: 1em;
  width: 50%;
  color: grey;
  font-family: 'Source Sans Pro', sans-serif;
}

.bubbleHolder {
  width: 90 vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ED5E3F;
  padding: 10px;
  margin: 10px;
}

.bubble {
  color: orange;
  border-radius: 50%;
  margin: 10px;
  font-size: 1.0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  color: white;
  opacity: 1.4;
}

.innerBubbleHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
