.BubbleContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.Frequency {
  display: flex;
}

h3{
  text-align: center;
  color: orange;
}

h2 {
  text-align: center;
  color: grey;
  width: 100%;
}

.conceptHolder {
  padding: 10px;
  font-size: 1em;
  color: grey;
}

.entityHolder {
  padding: 10px;
  font-size: 1em;
  color: grey;
}
