.App {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100vw;
  height: 100vh;
  background-image:url("./city-of-london_gal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
